/* Alert.css */
.alert-wrapper {
    animation: slideIn 0.5s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .fade.show {
    animation: fadeSlide 0.5s ease-out;
  }
  
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  